/* FONT-FACE */
@font-face {
    font-family: "londrina";
    src: url(../assets/fonts/LondrinaSolidRegular.otf) format("opentype");
}

@font-face {
    font-family: "cabin";
    src: url(../assets/fonts/cabinRegular.otf) format("opentype");
}