@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  /* No text select */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

@font-face {
  font-family: round;
  src: url("../fonts/round04B.TTF");
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #440066;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  cursor: url('../img/seta.png'), auto;
}

#container {
  position: absolute;
  background-color: transparent;
  overflow-x: hidden;
  width: 450px;
  height: 769px;
  background-color: gainsboro;
  overflow: hidden;
  border-radius: 32px;
  box-shadow: 2px 2px 15px 4px grey;
}

#container * {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-family: round, Arial, Helvetica, sans-serif;
}

.frame {
  z-index: 1;
  height: 112%;
}

main {
  width: 70%;
  height: 95%;
  z-index: 2;
  border-radius: 22px;
  overflow: hidden;
}

.block {
  width: 101%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  z-index: 9;
}

main .block .block-p1 {
  width: 80%;
  color: #ffff00;
  font-size: 42px;
  top: 40% !important;
}

main .block .block-p2 {
  width: 80%;
  color: white;
  font-size: 32px;
  top: 55% !important;
}

main .block .res {
  top: 75% !important;
  background-color: #ffff00;
  border: none;
  border-radius: 30px;
  color: black;
  font-size: 22px;
  padding: 12px 28px;
  cursor: url(../img/pointer.png), auto;
  z-index: 9;
  white-space: nowrap;
}



.bg {
  width: 70%;
  height: 95%;
  z-index: 0;
  border-radius: 22px;
  overflow: hidden;
}

#container .bg img {
  height: 140%;
  top: 80%;
}

#container header {
  top: 7%;
  width: 70%;
  height: 10%;
  z-index: 0;
  background-color: #660099;
}

#container header .hearth {
  left: 13%;
  top: 55%;
  height: 52%;
}

#container header .lifes {
  left: 27%;
  top: 55%;
  color: #e69a00;
  font-size: 32px;
}

#container header .pontos {
  left: 73%;
  top: 55%;
  color: white;
  font-size: 32px;
  width: 40%;
  text-align: right;
}

#container .start {
  top: 60%;
  background-color: #ffff00;
  border: none;
  border-radius: 30px;
  color: black;
  font-size: 22px;
  padding: 10px 18px;
  cursor: url(../img/pointer.png), auto;
  z-index: 9;
}

/* Game */

.target {
  height: 9%;
  opacity: 1;
  z-index: 3;
}

.pointer {
  cursor: url('../img/pointer.png'), auto;
  /* transition: .1s; */
}