* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.ia-container {
    position: relative;
    max-width: 1050px;
    max-height: 590px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.in-cont {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}

#svg-interactive {
	position: absolute;
	left:0;
	top:0;
}

#svg-level-icons {
	position: absolute;
	left:0;
	top:0;
	width: 1050;
	height: 118;
	z-index: 2;
}

#blenda {
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	z-index: 1;
	/*background-color: #4DDDFF;*/
	background-color: rgba(77,221,255,0.6);
	display: none;
}

#bg0, #bg1, #bg2, #obrus00, #obrus01, #obrus02 {
	position: absolute;
	left: 0;
	top: 0;
}

#character_tab0 {
	position: absolute;
	left: 769px;
	top: 47px;
}

#character_tab1 {
	position: absolute;
	left: 802px;
	top: 43px;
}

#character_tab2 {
	position: absolute;
	left: 764px;
	top: 47px;
}

#tab0ok {
	position: absolute;
	overflow: hidden;
	left: 767.95px;
	top: 48.05px;
	width: 204px;
	height: 224px;
}

#tab0wrong {
	position: absolute;
	overflow: hidden;
	left: 771.4px;
	top: 41.65px;
	width: 274px;
	height: 231px;
}

#tab1ok {
	position: absolute;
	overflow: hidden;
	left: 766.05px;
	top: 16.65px;
	width: 286px;
	height: 458px;
}

#tab1wrong {
	position: absolute;
	overflow: hidden;
	left: 786.05px;
	top: 43.05px;
	width: 227px;
	height: 430px;
}

#tab2ok {
	position: absolute;
	overflow: hidden;
	left: 763.75px;
	top: 17.1px;
	width: 287px;
	height: 436px;
}

#tab2wrong {
	position: absolute;
	overflow: hidden;
	left: 755.1px;
	top: 43.8px;
	width: 296px;
	height: 409px;
}




.btn-normal, .btn-audio, .active, .wrongs {
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}



.bacteria-full {
	display: none;
}

.active, .wrongs {
	fill-opacity: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* remove tap highlight color */
}

#btn-audio-0-container {
	position: absolute;
	left: 20px;
	top: 20px;
}

#btn-audio-0-container.animated {
	-webkit-animation-name: gibi;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
	
	animation-name: gibi;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-webkit-keyframes gibi  {
     0%  {-webkit-transform:translateZ(0px) rotate(0deg) scale(1);}
    25%  {-webkit-transform:translateZ(0px) rotate(7deg) scale(0.86);}
    50%  {-webkit-transform:translateZ(0px) rotate(0deg) scale(1);}
    75%  {-webkit-transform:translateZ(0px) rotate(-7deg) scale(0.86);}
    100% {-webkit-transform:translateZ(0px) rotate(0deg) scale(1);}
}

@keyframes gibi {
     0%  {transform:translateZ(0px) rotate(0deg) scale(1);}
    25%  {transform:translateZ(0px) rotate(7deg) scale(0.86);}
    50%  {transform:translateZ(0px) rotate(0deg) scale(1);}
    75%  {transform:translateZ(0px) rotate(-7deg) scale(0.86);}
    100% {transform:translateZ(0px) rotate(0deg) scale(1);}
}

.sound-waves {
	visibility: hidden;
}

.active, .btn-audio-container, .wrongs {
	z-index: 10;
}

.st0{fill-opacity:0.045;}
.st1{fill-opacity:0.085;}
.st2{fill-opacity:0.125;}
.st3{fill-opacity:0.165;}
.st4{fill-opacity:0.208;}
.st5{fill-opacity:0.251;}
.st6{fill:#8C3B43;}
.st7{fill:#EE6473;}
.st8{fill:#E55261;}
.st9{fill-opacity:0.102;}
.st10{fill-opacity:0.302;}
.st11{fill:#FFFFFF;}

.btn-normal {
	opacity: 0.35;
}
.btn-normal > .st6 {
	fill: #2c9fb2;
}
.btn-normal > .st7 {
	fill: #3fe4ff;
}
.btn-normal > .st8 {
	fill: #38cce5;
}

.btn-good, .btn-current {
	opacity: 1;
}
.btn-good > .st6 {
	fill: #71b22d;
}
.btn-good > .st7 {
	fill: #a2ff41;
}
.btn-good > .st8 {
	fill: #91e53a;
}


#level-0, #level-1, #level-2 {
	display: none;
}