/* card2 */

.card {
    background-image: url(../../img/menu/bg.svg);
    background-color: #fff;
}

.img_titles:nth-child(1) {
    top: 6%;
    width: 14%;
    height: 7%;
    background-image: url(../../img/capa/img_txt01.svg);
}

.img_titles:nth-child(2) {
    top: 12.7%;
    width: 14.5%;
    height: 5%;
    background-image: url(../../img/capa/img_txt02.svg);
}

.img_titles:nth-child(3) {
    top: 18%;
    width: 14.5%;
    height: 5%;
    background-image: url(../../img/capa/img_txt03.svg);
}

.img_titles {
    left: 91.3%;
}

#img01 {
    top: 56%;
    left: 41%;
    height: 77%;
    width: 66%;
    z-index: 1;
    background-image: url(../../img/menu/img01.svg);
}

.pin_boxes {
    width: 1.5%;
    height: 3%;
    z-index: 3;
    background-image: url(../../img/menu/pin_boxes.svg);
}

#pin_box01 {
    top: 4.6%;
    left: 13%;
}

#pin_box02 {
    top: 4.6%;
    left: 38.8%;
}

#pin_box03 {
    top: 22.4%;
    left: 29.8%;
}

#pin_box04 {
    top: 22.2%;
    left: 52.4%;
}

#pin_box05 {
    top: 41.7%;
    left: 51.3%;
}

#pin_box06 {
    top: 37.6%;
    left: 72.3%;
}

#pin_box07 {
    top: 58.5%;
    left: 70.7%;
}

#pin_box08 {
    top: 72%;
    left: 62%;
}

#pin_box09 {
    top: 83.7%;
    left: 73.05%;
}

.imgs_pin {
    width: 7%;
    height: 13%;
    z-index: 2;
    cursor: pointer;
    background-image: url(../../img/menu/pin.svg);
}

#pin01 {
    top: 9.5%;
    left: 11.2%;
}

#pin02 {
    top: 10%;
    left: 37%;
}

#pin03 {
    top: 27%;
    left: 28.2%;
}

#pin04 {
    top: 27.5%;
    left: 50.3%;
}

#pin05 {
    top: 46.5%;
    left: 49.2%;
}

#pin06 {
    top: 42.8%;
    left: 70.5%;
}

#pin07 {
    top: 63%;
    left: 68.5%;
}

#pin08 {
    top: 77%;
    left: 60.2%;
}

#pin09 {
    top: 88%;
    left: 71.2%;
}

.imgs_pin p {
    top: 43%;
    left: 50%;
    width: 64%;
    color: #FFD62B;
    text-align: center;
    font-size: 48px;
    font-family: londrina, Helvetica, sans-serif;
}

.imgs_boxes_titles {
    height: 9%;
    width: 19%;
    z-index: 1;
    cursor: pointer;
}

.imgs_boxes_titles p {
    color: #977FB8;
    font-size: 38px;
    font-family: londrina, Helvetica, sans-serif;
}

.txt_align_left {
    text-align: left;
}

.txt_align_right {
    text-align: right;
}

#img03 p {
    top: 60%;
    left: 55%;
    width: 70%;
}

#img03 {
    top: 10.35%;
    left: 21%;
    background-image: url(../../img/menu/bt_bg01.svg);
}

#img03:hover {
    background-image: url(../../img/menu/bt_bg01_hover.svg);
}

#img04 p {
    top: 57%;
    left: 58.8%;
    width: 82%;
    line-height: 1em;
}

#img04 {
    top: 10.35%;
    left: 47%;
    background-image: url(../../img/menu/bt_bg02.svg);
}

#img04:hover {
    background-image: url(../../img/menu/bt_bg02_hover.svg);
}

#img05 p {
    top: 56%;
    left: 31.2%;
    width: 96%;
    line-height: 1em;
}

#img05 {
    top: 28.7%;
    left: 20%;
    width: 17%;
    background-image: url(../../img/menu/bt_bg03.svg);
}

#img05:hover {
    background-image: url(../../img/menu/bt_bg03_hover.svg);
}

#img06 p {
    top: 56%;
    left: 57.3%;
    width: 74%;
}

#img06 {
    top: 28.7%;
    left: 60%;
    background-image: url(../../img/menu/bt_bg04.svg);
}

#img06:hover {
    background-image: url(../../img/menu/bt_bg04_hover.svg);
}

#img07 p {
    top: 47%;
    left: 39%;
    width: 77.5%;
    line-height: 1em;
}

#img07 {
    top: 52.15%;
    left: 41.65%;
    width: 17%;
    background-image: url(../../img/menu/bt_bg05.svg);
}

#img07:hover {
    background-image: url(../../img/menu/bt_bg05_hover.svg);
}

#img08 p {
    top: 51%;
    left: 64.5%;
    width: 66%;
    line-height: 0.9em;
}

#img08 {
    top: 44%;
    left: 77.9%;
    background-image: url(../../img/menu/bt_bg06.svg);
}

#img08:hover {
    background-image: url(../../img/menu/bt_bg06_hover.svg);
}

#img09 p {
    top: 58%;
    left: 62%;
    width: 90%;
    white-space: nowrap;
}

#img09 {
    top: 64.5%;
    left: 80%;
    width: 23%;
    height: 9%;
    z-index: 0;
    background-image: url(../../img/menu/bt_bg07.svg);
}

#img09:hover {
    background-image: url(../../img/menu/bt_bg07_hover.svg);
}

#img10 p {
    top: 51%;
    left: 37.8%;
    width: 78%;
    white-space: nowrap;
}

#img10 {
    top: 79.8%;
    left: 52.95%;
    width: 15%;
    background-image: url(../../img/menu/bt_bg08.svg);
}

#img10:hover {
    background-image: url(../../img/menu/bt_bg08_hover.svg);
}

#img11 p {
    top: 50%;
    left: 61.8%;
    width: 79%;
    white-space: nowrap;
}

#img11 {
    top: 89.5%;
    left: 83%;
    width: 24%;
    height: 10%;
    background-image: url(../../img/menu/bt_bg09.svg);
}

#img11:hover {
    background-image: url(../../img/menu/bt_bg09_hover.svg);
}

#img12 {
    top: 33%;
    left: 33.2%;
    width: 2.2%;
    height: 4%;
    background-image: url(../../img/menu/img02.svg);
}

#img13 {
    top: 31%;
    left: 74.5%;
    width: 8%;
    height: 12%;
    background-image: url(../../img/menu/img03.svg);
}

#img14 {
    top: 53.5%;
    left: 59.5%;
    width: 7%;
    height: 9%;
    background-image: url(../../img/menu/img04.svg);
}

#img15 {
    top: 76.5%;
    left: 68.8%;
    width: 4.5%;
    height: 4.5%;
    background-image: url(../../img/menu/img05.svg);
}

#txt_box_content01 {
    top: 80%;
    left: 14.5%;
    width: 25%;
    height: 33%;
}

#icon01 {
    top: 21%;
    left: 83.7%;
    width: 29%;
    height: 47%;
    z-index: 2;
    background-image: url(../../img/menu/icon01.svg);
}

.txt_boxes {
    width: 95%;
    height: 91%;
}

#txt_box_content01 p {
    top: 40.5%;
    left: 42%;
    width: 71%;
    text-align: left;
    color: #1B5798;
    font-size: 58px;
    font-family: londrina, Helvetica, sans-serif;
}

#txt_bg01 {
    top: 47%;
    left: 52%;
    z-index: 1;
    background-image: url(../../img/menu/img07.svg);
}

#txt_bg02 {
    top: 48%;
    left: 48.4%;
    z-index: 0;
    background-image: url(../../img/menu/img06.svg);
}

/* BTN1 */
#btn_bt_1 {
    top: 91.5%;
    left: 17.5%;
    width: 20%;
    height: 11%;
    z-index: 2;
    cursor: pointer;
    background-image: url(../../img/menu/bt_bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

#btn_bt_1 span {
    top: 50%;
    left: 42.2%;
    width: 67%;
    font-size: 29px;
    color: #FFD62B;
    font-family: londrina, Arial, Helvetica, sans-serif;
}

.seta_btn {
    top: 50%;
    left: 86%;
    width: 15%;
    height: 31%;
    background-image: url(../../img/seta_amarela.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

#btn_bt_1:hover {
    background-image: url(../../img/menu/bt_bg_hover.svg);
}

#btn_bt_1:hover div {
    background-image: url(../../img/seta_roxa.svg);
    animation: float_left_bt_1 1s infinite;
    transition: 0.5s;
}

#btn_bt_1:hover span {
    color: #977FB8;
}

.pin_boxes div {
    top: 50%;
    left: 60%;
    width: 110%;
    height: 110%;
    background-image: url(../../img/menu/check.svg);
}

@keyframes float_left_bt_1 {
    0% {
        left: 86%;
    }

    25% {
        left: 84%;
    }

    50% {
        left: 86%;
    }

    75% {
        left: 84%;
    }

    100% {
        left: 86%;
    }
}

/* POP */

#pop_box1 {
    top: 50%;
    left: 50%;
    width: 402px;
    height: 305px;
    background-image: url(pop/box-azul.svg);
    z-index: 9;
}

#pop_box2 {
    top: 46.5%;
    left: 51%;
    width: 402px;
    height: 333px;
    background-image: url(pop/box-bco.svg);
    z-index: 9;
}

#pop_ico {
    top: 2%;
    left: 23%;
    width: 114px;
    height: 96px;
    background-image: url(pop/oops.svg);
}

#pop_p1 {
    top: 25%;
    left: 49%;
    font-size: 48px;
    color: #977FB8;
    font-family: londrina, Arial, Helvetica, sans-serif;
    text-align: left;
    width: 80%;
}

#pop_p2 {
    top: 52%;
    left: 49%;
    font-size: 24px;
    color: #2063AC;
    font-family: cabin, Arial, Helvetica, sans-serif;
    width: 80%;
}

#pop_btn {
    top: 84%;
    left: 84%;
    width: 190px;
    height: 68px;
    background-image: url(pop/bt-amarelo.svg);
    cursor: pointer;
}

#pop_btn p {
    top: 50%;
    left: 50%;
    font-size: 24px;
    width: 80%;
    color: #977FB8;
    font-family: londrina, Arial, Helvetica, sans-serif;
    text-align: left;
}

#pop_btn div {
    top: 50%;
    left: 79%;
    height: 42%;
    width: 20%;
    background-image: url(../../img/seta_roxa.svg);
    background-size: auto;
}

#pop_btn:hover>div {
    animation: float_left 1s infinite;
    transition: 0.5s;
}

@keyframes float_left {
    0% {
        left: 79%;
    }

    25% {
        left: 81%;
    }

    50% {
        left: 79%;
    }

    75% {
        left: 81%;
    }

    100% {
        left: 79%;
    }
}