* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
	font-family: 'Trebuchet MS';
}

.ia-container {
    position: relative;
    max-width: 900px;
    max-height: 506px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
	background-color: #ffffff;
}

.ia-incont {
	position: absolute;
	left: 0;
	top: 0;
}

.button {
	position: absolute;
	cursor: pointer;
	width: 110px;
	height: 110px;
	background: #ffffff;
}
.tip {
	position: absolute;
	width: 110px;
	height: 110px;
	left: 0px;
	top: 0px;
	border: 6px solid #00B8C9;
}
.image {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 5px;
	top: 5px;
}
.icon {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 52px;
	top: 52px;
	background: url('./images/tick_1.png');
}
.border {
	position: absolute;
	width: 110px;
	height: 110px;
	left: 0px;
	top: 0px;
	border: 1px solid #5B5D6A;
}

.popup {
	position: absolute;
	left: 0px;
	top: 0px;
}

.label {
	position: absolute;
	left: 150px;
	top: 80px;
	color: #ffffff;
	font-size: 29px;
	font-family: Arial;
}

.button2 {
	position: absolute;
	cursor: pointer;
	width: 170px;
	height: 170px;
	background: #ffffff;
}
.tip2 {
	position: absolute;
	width: 170px;
	height: 170px;
	left: 0px;
	top: 0px;
	border: 6px solid #5EC7CB;
}
.image2 {
	position: absolute;
	width: 160px;
	height: 160px;
	left: 5px;
	top: 5px;
}
.border2 {
	position: absolute;
	width: 170px;
	height: 170px;
	left: 0px;
	top: 0px;
	border: 1px solid #5B5D6A;
}


.button-reset {
	position: absolute;
	cursor: pointer;
	width: 50px;
	height: 50px;
	left: 832px;
	top: 436px;
	background: url('./images/reset_1.png');
}
.button-reset-on {
	background: url('./images/reset_klik.png');
}

.button-audio {
	position: absolute;
	cursor: pointer;
	width: 50px;
	height: 50px;
	left: 70px;
	top: 73px;
	background: url('./images/audio_btn.png');
}
.button-audio-on {
	background: url('./images/audio_btn_click.png');
}