/* card5 */

.card {
    background-image: url(../../img/avaliacao/fundo.svg);
    background-color: #fff;
}

.titles {
    text-align: left;
    font-family: londrina, Helvetica, sans-serif;
}

#txt1 {
    top: 18.8%;
    left: 8%;
    width: 11%;
    font-size: 24px;
    letter-spacing: .05em;
    color: #fff;
}

#title_bg p {
    top: 46%;
    left: 57%;
    width: 112%;
    font-size: 46px;
    color: #FFD62B;
}

#title_bg {
    top: 24%;
    left: 14%;
    height: 9%;
    width: 23%;
    background-image: url(../../img/avaliacao/img01.svg);
    background-size: auto;
}

#txt_box_content {
    top: 53%;
    left: 12.75%;
    height: 44%;
    width: 22%;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: #000; */
}

#txt_bg01 {
    top: 48%;
    left: 52%;
    z-index: 1;
    background-image: url(../../img/avaliacao/img03.svg);
}

#txt_bg02 {
    top: 51%;
    left: 48%;
    z-index: 0;
    background-image: url(../../img/avaliacao/img02.svg);
}

.txt_boxes {
    height: 95%;
    width: 92%;
    background-size: contain;
    background-repeat: no-repeat;
}

.txt {
    width: 89%;
    font-size: 18px;
    text-align: left;
    font-family: cabin, Helvetica, sans-serif;
    color: #2063AC;
}

#txt2 {
    top: 24.5%;
    left: 51%;
}

#txt3 {
    top: 69.5%;
    left: 51.2%;
}

.icons_box_content {
    top: 21%;
    height: 25%;
    width: 29%;
    background-image: url(../../img/avaliacao/img04.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

#icons_box_content01,
#icons_box_content02 {
    top: 30%;
}

#icons_box_content03,
#icons_box_content04 {
    top: 68%;
}

#icons_box_content01,
#icons_box_content03 {
    left: 47.8%;
}

#icons_box_content02,
#icons_box_content04 {
    left: 81%;
}

.title_box_icons {
    top: 21%;
    left: 56%;
    width: 62%;
    color: #977FB8;
    font-size: 48px;
}

#icons_box_content01 .categories_icons_boxes {
    background-image: url(../../img/avaliacao/icon01.svg);
}

#icons_box_content02 .categories_icons_boxes {
    background-image: url(../../img/avaliacao/icon02.svg);
}

#icons_box_content03 .categories_icons_boxes {
    background-image: url(../../img/avaliacao/icon03.svg);
}

#icons_box_content04 .categories_icons_boxes {
    background-image: url(../../img/avaliacao/icon04.svg);
}

.categories_icons_boxes {
    top: 13%;
    left: 8%;
    height: 53%;
    width: 22%;
    background-size: contain;
    background-repeat: no-repeat;
}

#icons_box_content02 .categories_icons_boxes {
    left: 10%;
}

/* ICONS */
#icon01.icons_boxes {
    left: 15%;
    background-image: url(../../img/avaliacao/icon_face_01.svg);
}

#icon02.icons_boxes {
    left: 32.5%;
    background-image: url(../../img/avaliacao/icon_face_02.svg);
}

#icon03.icons_boxes {
    left: 50.5%;
    background-image: url(../../img/avaliacao/icon_face_03.svg);
}

#icon04.icons_boxes {
    left: 67.7%;
    background-image: url(../../img/avaliacao/icon_face_04.svg);
}

#icon05.icons_boxes {
    left: 85.5%;
    background-image: url(../../img/avaliacao/icon_face_05.svg);
}

/* ICONS HOVER */
#icon01:hover.icons_boxes {
    background-image: url(../../img/avaliacao/icon_face_01_hover.svg);
    transform: translate(-50%, -50%) scale(1.2);
    top: 63%;
}

#icon02:hover.icons_boxes {
    background-image: url(../../img/avaliacao/icon_face_02_hover.svg);
    transform: translate(-50%, -50%) scale(1.2);
    top: 63%;
}

#icon03:hover.icons_boxes {
    background-image: url(../../img/avaliacao/icon_face_03_hover.svg);
    transform: translate(-50%, -50%) scale(1.2);
    top: 63%;
}

#icon04:hover.icons_boxes {
    background-image: url(../../img/avaliacao/icon_face_04_hover.svg);
    transform: translate(-50%, -50%) scale(1.2);
    top: 63%;
}

#icon05:hover.icons_boxes {
    background-image: url(../../img/avaliacao/icon_face_05_hover.svg);
    transform: translate(-50%, -50%) scale(1.2);
    top: 63%;
}

.boxes_transition {
    transition: 0.25s;
}

/* ICONS (CONFIG. GERAL) */
.icons_boxes {
    top: 69%;
    height: 27%;
    width: 13%;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
}

/* BTN1 */
#btn_bt_1 {
    top: 91.2%;
    left: 91.5%;
    width: 14%;
    height: 8%;
    background-image: url(../../img/avaliacao/bt_bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#btn_bt_1 span {
    top: 60%;
    left: 36%;
    width: 54%;
    color: #977FB8;
    font-size: 24px;
}

.seta_btn {
    top: 60%;
    left: 78%;
    width: 15%;
    height: 31%;
    background-image: url(../../img/seta_roxa.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

#btn_bt_1:hover {
    background-image: url(../../img/avaliacao/bt_bg_hover.svg);
}

#btn_bt_1:hover div {
    background-image: url(../../img/seta_amarela.svg);
    animation: float_left2 1s infinite;
    transition: 0.5s;
}

#btn_bt_1:hover span {
    color: #FFD62B;
}

#face_anim01 {
    background-image: url(../../img/avaliacao/icon_face_01_hover.svg);
}

#face_anim02 {
    background-image: url(../../img/avaliacao/icon_face_02_hover.svg);
}

#face_anim03 {
    background-image: url(../../img/avaliacao/icon_face_03_hover.svg);
}

#face_anim04 {
    background-image: url(../../img/avaliacao/icon_face_04_hover.svg);
}

#face_anim05 {
    background-image: url(../../img/avaliacao/icon_face_05_hover.svg);
}

#face_anim01,
#face_anim02,
#face_anim03,
#face_anim04,
#face_anim05 {
    top: 49%;
    left: 62%;
    width: 5%;
    height: 10%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* POP */

#pop_box1 {
    top: 50%;
    left: 50%;
    width: 420px;
    height: 400px;
    background-image: url(pop/box_azul.svg);
    z-index: 9;
}

#pop_box2 {
    top: 49%;
    left: 50.5%;
    width: 414px;
    height: 395px;
    background-image: url(pop/box_branco.svg);
    z-index: 9;
}

#pop_ico {
    top: 2%;
    left: 18%;
    width: 73px;
    height: 73px;
    background-image: url(pop/face.svg);
}

#pop_p1 {
    top: 28%;
    left: 51%;
    font-size: 48px;
    color: #977FB8;
    font-family: londrina, Arial, Helvetica, sans-serif;
    text-align: left;
    width: 80%;
}

#pop_p2 {
    top: 57%;
    left: 51%;
    font-size: 24px;
    color: #2063AC;
    font-family: cabin, Arial, Helvetica, sans-serif;
    width: 80%;
}

#pop_btn {
    top: 84%;
    left: 84%;
    width: 190px;
    height: 68px;
    background-image: url(pop/btn2.svg);
    cursor: pointer;
}

#pop_btn p {
    top: 50%;
    left: 50%;
    font-size: 24px;
    width: 80%;
    color: #977FB8;
    font-family: londrina, Arial, Helvetica, sans-serif;
    text-align: left;
}

#pop_btn div {
    top: 50%;
    left: 79%;
    height: 42%;
    width: 20%;
    background-image: url(../../img/seta_roxa.svg);
    background-size: auto;
}

#pop_btn:hover>div {
    animation: float_left 1s infinite;
    transition: 0.5s;
}

@keyframes float_left {
    0% {
        left: 79%;
    }

    25% {
        left: 81%;
    }

    50% {
        left: 79%;
    }

    75% {
        left: 81%;
    }

    100% {
        left: 79%;
    }
}

#pop_btn2 {
    top: 84%;
    left: 13%;
    width: 190px;
    height: 68px;
    background-image: url(pop/btn1.svg);
    cursor: pointer;
}

#pop_btn2 p {
    top: 50%;
    left: 40%;
    font-size: 24px;
    width: 80%;
    color: #FFD62B;
    font-family: londrina, Arial, Helvetica, sans-serif;
    text-align: right;
}

#pop_btn2 div {
    top: 50%;
    left: 16%;
    height: 42%;
    width: 20%;
    background-image: url(../../img/seta_amarela.svg);
    background-size: auto;
    transform: translate(-50%, -50%) scaleX(-1);
}

#pop_btn2:hover>div {
    animation: float_right 1s infinite;
    transition: 0.5s;
}

@keyframes float_right {
    0% {
        left: 16%;
    }

    25% {
        left: 18%;
    }

    50% {
        left: 16%;
    }

    75% {
        left: 18%;
    }

    100% {
        left: 16%;
    }
}

@keyframes float_left2 {
    0% {
        left: 78%;
    }

    25% {
        left: 80%;
    }

    50% {
        left: 78%;
    }

    75% {
        left: 80%;
    }

    100% {
        left: 78%;
    }
}