#bg {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-image: url(img/bg_prev.PNG);
}

#img1 {
    --img-size: 1050px;
    top: 46%;
    left: 50%;
    height: var(--img-size);
    width: var(--img-size);
    background-image: url(img/img1.PNG);
}

/* BTN */
#btn1 {
    top: 86.5%;
    left: 90%;
    width: 16%;
    height: 9%;
    cursor: pointer;
}

#btn2 {
    top: 87.5%;
    left: 64%;
    width: 16%;
    height: 9%;
    cursor: pointer;
}

#video_aula {
    top: 41%;
    left: 62.5%;
    width: 72.5%;
    height: 73%;
}

#podcast_img {
    top: 37%;
    left: 39%;
    width: 15%;
    height: 10%;
    background-image: url(img/img01.png);
    z-index: 5;
}