main {
  position: absolute;
  background-color: white;
  width: 100vw;
  height: 242vw;
  overflow: hidden;
  transform-origin: top left;
  color: white;
  font-size: 2vw;
}
main .bg {
  position: absolute;
  width: 181vw;
  left: -29%;
  top: -6vw;
}
main .retranca {
  position: absolute;
  width: 5vw;
  top: 0;
  left: 4%;
}
main .retranca2 {
  position: absolute;
  top: 0;
  left: 65%;
  width: 35vw;
}
main .clickfull {
  position: absolute;
  top: 0;
  right: 0;
  width: 10vw;
  height: 10vw;
  z-index: 9;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
main .title {
  position: absolute;
  color: var(--roxo);
  text-align: center;
  transform: translate(-50%, -50%);
  top: 25vw;
  left: 50%;
}
main .title span {
  font-family: "vivoBold";
  font-size: 7vw;
  white-space: nowrap;
}
main .title .big {
  font-size: 9vw;
}
main .pinkbox {
  position: absolute;
  top: 42vw;
  left: -0.5vw;
  width: 102vw;
}
main .pinkbox img {
  width: 100%;
}
main .pinkbox p {
  position: absolute;
  top: 12%;
  left: 5%;
  width: 55%;
  font-size: 2.3vw;
}
main .pinkbox .port {
  display: none;
}
main .pins img {
  position: absolute;
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 9;
}
main .pins #id1 {
  width: 28vw;
  top: 72vw;
  left: 71vw;
}
main .pins #id2 {
  width: 23vw;
  top: 73vw;
  left: 11.5vw;
}
main .pins #id3 {
  width: 23vw;
  top: 89vw;
  left: 26vw;
}
main .pins #id4 {
  width: 22vw;
  top: 103vw;
  left: 76vw;
}
main .pins #id5 {
  width: 22vw;
  top: 123vw;
  left: 36vw;
}
main .pins #id6 {
  width: 22vw;
  top: 128vw;
  left: 65vw;
}
main .pins #id7 {
  width: 22vw;
  top: 147vw;
  left: 42vw;
}
main .pins #id8 {
  width: 24vw;
  top: 167vw;
  left: 57vw;
}
main .pins #id9 {
  width: 22vw;
  top: 182vw;
  left: 75vw;
}
main .pins #id10 {
  width: 26vw;
  top: 185vw;
  left: 10vw;
}
main .decor img {
  position: absolute;
}
main .decor .d1 {
  width: 20vw;
  top: 74vw;
  left: 43vw;
}
main .decor .d2 {
  top: 90vw;
  left: 40vw;
  width: 34vw;
  z-index: 1;
}
main .decor .d3 {
  width: 15vw;
  top: 139vw;
  left: 76vw;
}
main .decor .d4 {
  width: 15vw;
  top: 159vw;
  left: 27vw;
}
main .decor .d5 {
  width: 21vw;
  top: 184vw;
  left: 38vw;
}
main .footer {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 70vw;
  left: 50%;
  bottom: 0vw;
}

.mask {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(102, 0, 153, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  overflow-y: auto;
}
.mask img {
  width: 60vw;
}
.mask .big {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 10%;
}
.mask .holder {
  position: relative;
  cursor: pointer;
  width: 60vw;
}
.mask .exit {
  position: absolute;
  transform: translateX(-100%);
  top: 5%;
  left: 100%;
  width: 7vw;
  height: 10vw;
}

@media (orientation: portrait) and (max-width: 935px) {
  main .retranca {
    width: 7vw;
  }
  main .retranca2 {
    left: 58%;
    width: 42vw;
  }
  main .clickfull {
    width: 12vw;
    height: 12vw;
  }
  main .title {
    top: 22vw;
    line-height: 30px;
  }
  main .pinkbox {
    top: 32vw;
  }
  main .pinkbox .land {
    display: none;
  }
  main .pinkbox .port {
    display: block !important;
  }
  main .pinkbox p {
    font-size: 2.7vw;
  }
  main .mask img {
    width: 90vw;
  }
  main .mask .holder {
    width: 90vw;
  }
  main .mask .exit {
    width: 15vw;
    height: 15vw;
  }
}/*# sourceMappingURL=geral.css.map */