.draggable{
	touch-action: none !important;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
	border: 0;
    overflow: hidden;
}

.ia-container {
    position: relative;
    max-width: 1050px;
    max-height: 590px;
    margin-left: auto;
    margin-right: auto;
}

.in-cont {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}

#btn-tukan {
	position: absolute;
	left: 551px;
	top: 103px;
	width: 240px;
	height: 440px;
	cursor: pointer;
	cursor: hand;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	display: none;
	z-index: 5;
}

.btn-audio {
	position: absolute;
	left: 50px;
	cursor: pointer;
	cursor: hand;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}

.btn-audio.disabled {
	cursor: default;
}

.btn-audio.animated {
	opacity: 0.33;
}

#btn0 {
	top: 70px;
}

#btn1 {
	top: 230px;	
}

#btn2 {
	top: 390px;
}

.sound-waves {
	display: none;
}


/* THE TUKAN */


#tukan-container {
	position: absolute;
	left: 411px;
	top: 103px;
}

.tukan-part {
	position: absolute;
	-webkit-transition: -webkit-transform 1s linear;
	transition: transform 1s linear;
	
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.img-container {
	overflow: hidden;
}

.img-container img {
	position: absolute;
	left: 0;
	top: 0;
	outline: 1px solid rgba(0,0,0,0);
}

#tukan-head {
	left: 0;
	top: 0;
	width: 178px;
	height: 200px;
	-webkit-transform-origin: 90px 157px;
	transform-origin: 90px 157px;
}

#tukan-wing-0 {
	left: 92px;
	top: 215px;
	width: 188px; 
	height: 112px;
	-webkit-transform-origin: 20px 28px;
	transform-origin: 20px 28px;
}

#tukan-wing-1 {
	left: 120px;
	top: 214px;
	width: 188px; 
	height: 112px;
	-webkit-transform-origin: 20px 28px;
	transform-origin: 20px 28px;
}

#tukan-neck {
	left: 75px;
	top: 129px;
	-webkit-transform-origin: 64px 161px;
	transform-origin: 64px 161px;
}

#tukan-body {
	left: 75px;
	top: 226px;
	-webkit-transform-origin: 62px 62px;
	transform-origin: 62px 62px;
}

#tukan-leg-0 {
	left: 76px;
	top: 320px;
	-webkit-transform-origin: 87px 20px;
	transform-origin: 87px 20px;
}

#tukan-leg-1 {
	left: 37px;
	top: 310px;
	-webkit-transform-origin: 93px 18px;
	transform-origin: 93px 18px;
}

#tukan-tail {
	left: 163px;
	top: 265px;
	-webkit-transform-origin: 18px 18px;
	transform-origin: 18px 18px;
}


/* TUKAN SPRITE ANIMATIONS */


/* head */

.head-on {
	-webkit-transform: translateX(-14px) translateZ(0px);
	transform: translateX(-14px) translateZ(0px);
	-webkit-animation: turn-head-on .12s steps(2) forwards;
	animation: turn-head-on .12s steps(2) forwards;
}

.head-off {
	-webkit-transform: translateX(-426px) translateZ(0px);
	transform: translateX(-426px) translateZ(0px);
	-webkit-animation: turn-head-off .12s steps(2) forwards;
	animation: turn-head-off .12s steps(2) forwards;
}

@-webkit-keyframes turn-head-on {
	from { -webkit-transform: translateX(-14px) translateZ(0px) rotateZ(0.01deg); }
	to { -webkit-transform: translateX(-426px) translateZ(0px) rotateZ(0.01deg); }
}
@keyframes turn-head-on {
	from { transform: translateX(-14px) translateZ(0px) rotateZ(0.01deg); }
	to { transform: translateX(-426px) translateZ(0px) rotateZ(0.01deg); }
}

@-webkit-keyframes turn-head-off {
	from { -webkit-transform: translateX(-426px) translateZ(0px) rotateZ(0.01deg); }
	to { -webkit-transform: translateX(-14px) translateZ(0px) rotateZ(0.01deg); }
}
@keyframes turn-head-off {
	from { transform: translateX(-426px) translateZ(0px) rotateZ(0.01deg); }
	to { transform: translateX(-14px) translateZ(0px) rotateZ(0.01deg); }
}

.head-blink {
	-webkit-transform: translateX(-426px) translateZ(0px) rotateZ(0.01deg);
	transform: translateX(-426px) translateZ(0px) rotateZ(0.01deg);
	-webkit-animation: blink .16s steps(4) backwards;
	animation: blink .16s steps(4) backwards;
}

@-webkit-keyframes blink {
	from { -webkit-transform: translateX(-426px) translateZ(0px) rotateZ(0.01deg); }
	to { -webkit-transform: translateX(-1250px) translateZ(0px) rotateZ(0.01deg); }
}
@keyframes blink {
	from { transform: translateX(-426px) translateZ(0px) rotateZ(0.01deg); }
	to { transform: translateX(-1250px) translateZ(0px) rotateZ(0.01deg); }
}

.head-init {
	-webkit-animation: none;
	animation: none;
	-webkit-transform: translateX(-14px) translateZ(0px) rotateZ(0.01deg);
	transform: translateX(-14px) translateZ(0px) rotateZ(0.01deg);
}

.head-normal {
	-webkit-animation: none;
	animation: none;
	-webkit-transform: translateX(-426px) translateZ(0px) rotateZ(0.01deg);
	transform: translateX(-426px) translateZ(0px) rotateZ(0.01deg);
}

.head-mouth {
	-webkit-animation: none;
	animation: none;
	-webkit-transform: translateX(-1456px) translateZ(0px) rotateZ(0.01deg);
	transform: translateX(-1456px) translateZ(0px) rotateZ(0.01deg);
}

.head-smile {
	-webkit-animation: none;
	animation: none;
	-webkit-transform: translateX(-1662px) translateZ(0px) rotateZ(0.01deg);
	transform: translateX(-1662px) translateZ(0px) rotateZ(0.01deg);
}


/*
@-webkit-keyframes turn-head-on {
	from { -webkit-transform: translateX(0px) translateZ(0px) rotateZ(0.01deg); }
	to { -webkit-transform: translateX(-356px) translateZ(0px) rotateZ(0.01deg); }
}
@keyframes turn-head-on {
	from { transform: translateX(0px) translateZ(0px) rotateZ(0.01deg); }
	to { transform: translateX(-356px) translateZ(0px) rotateZ(0.01deg); }
}

@-webkit-keyframes turn-head-off {
	from { -webkit-transform: translateX(-356px) translateZ(0px) rotateZ(0.01deg); }
	to { -webkit-transform: translateX(0px) translateZ(0px) rotateZ(0.01deg); }
}
@keyframes turn-head-off {
	from { transform: translateX(-356px) translateZ(0px) rotateZ(0.01deg); }
	to { transform: translateX(0px) translateZ(0px) rotateZ(0.01deg); }
}

.head-blink {
	-webkit-transform: translateX(-356px) translateZ(0px) rotateZ(0.01deg);
	transform: translateX(-356px) translateZ(0px) rotateZ(0.01deg);
	-webkit-animation: blink .16s steps(4) backwards;
	animation: blink .16s steps(4) backwards;
}

@-webkit-keyframes blink {
	from { -webkit-transform: translateX(-356px) translateZ(0px) rotateZ(0.01deg); }
	to { -webkit-transform: translateX(-1068px) translateZ(0px) rotateZ(0.01deg); }
}
@keyframes blink {
	from { transform: translateX(-356px) translateZ(0px) rotateZ(0.01deg); }
	to { transform: translateX(-1068px) translateZ(0px) rotateZ(0.01deg); }
}

.head-init {
	-webkit-animation: none;
	animation: none;
	-webkit-transform: translateX(0px) translateZ(0px) rotateZ(0.01deg);
	transform: translateX(0px) translateZ(0px) rotateZ(0.01deg);
}

.head-normal {
	-webkit-animation: none;
	animation: none;
	-webkit-transform: translateX(-356px) translateZ(0px) rotateZ(0.01deg);
	transform: translateX(-356px) translateZ(0px) rotateZ(0.01deg);
}

.head-mouth {
	-webkit-animation: none;
	animation: none;
	-webkit-transform: translateX(-1246px) translateZ(0px) rotateZ(0.01deg);
	transform: translateX(-1246px) translateZ(0px) rotateZ(0.01deg);
}

.head-smile {
	-webkit-animation: none;
	animation: none;
	-webkit-transform: translateX(-1424px) translateZ(0px) rotateZ(0.01deg);
	transform: translateX(-1424px) translateZ(0px) rotateZ(0.01deg);
}
*/


/* wings */


.wing-open {
	-webkit-transform: translateX(-24px) translateZ(0px);
	transform: translateX(-24px) translateZ(0px);
	-webkit-animation: wing-on .36s steps(8) forwards;
	animation: wing-on .36s steps(8) forwards;
}

.wing-close {
	-webkit-transform: translateX(-1912px) translateZ(0px);
	transform: translateX(-1912px) translateZ(0px);
	-webkit-animation: wing-off .36s steps(8) forwards;
	animation: wing-off .36s steps(8) forwards;
}

@-webkit-keyframes wing-on {
	from { -webkit-transform: translateX(-24px) translateZ(0px) rotateZ(0.01deg); }
	to { -webkit-transform: translateX(-1912px) translateZ(0px) rotateZ(0.01deg); }
}
@keyframes wing-on {
	from { transform: translateX(-24px) translateZ(0px) rotateZ(0.01deg); }
	to { transform: translateX(-1912px) translateZ(0px) rotateZ(0.01deg); }
}

@-webkit-keyframes wing-off {
	from { -webkit-transform: translateX(-1912px) translateZ(0px) rotateZ(0.01deg); }
	to { -webkit-transform: translateX(-24px) translateZ(0px) rotateZ(0.01deg); }
}
@keyframes wing-off  {
	from { transform: translateX(-1912px) translateZ(0px) rotateZ(0.01deg); }
	to { transform: translateX(-24px) translateZ(0px) rotateZ(0.01deg); }
}

.wing-closed {
	-webkit-animation: none;
	animation: none;
	-webkit-transform: translateX(-24px) translateZ(0px);
	transform: translateX(-24px) translateZ(0px);
}

.wing-opened {
	-webkit-animation: none;
	animation: none;
	-webkit-transform: translateX(-1912px) translateZ(0px);
	transform: translateX(-1912px) translateZ(0px);
}

/*
.wing-open {
	-webkit-transform: translateZ(0px);
	transform: translateZ(0px);
	-webkit-animation: wing-on .36s steps(8) forwards;
	animation: wing-on .36s steps(8) forwards;
}

.wing-close {
	-webkit-transform: translateZ(0px);
	transform: translateZ(0px);
	-webkit-animation: wing-off .36s steps(8) forwards;
	animation: wing-off .36s steps(8) forwards;
}

@-webkit-keyframes wing-on {
	from { -webkit-transform: translateX(0px) translateZ(0px) rotateZ(0.01deg); }
	to { -webkit-transform: translateX(-1504px) translateZ(0px) rotateZ(0.01deg); }
}
@keyframes wing-on {
	from { transform: translateX(0px) translateZ(0px) rotateZ(0.01deg); }
	to { transform: translateX(-1504px) translateZ(0px) rotateZ(0.01deg); }
}

@-webkit-keyframes wing-off {
	from { -webkit-transform: translateX(-1504px) translateZ(0px) rotateZ(0.01deg); }
	to { -webkit-transform: translateX(0px) translateZ(0px) rotateZ(0.01deg); }
}
@keyframes wing-off  {
	from { transform: translateX(-1504px) translateZ(0px) rotateZ(0.01deg); }
	to { transform: translateX(0px) translateZ(0px) rotateZ(0.01deg); }
}

.wing-closed {
	-webkit-animation: none;
	animation: none;
	-webkit-transform: translateX(0px) translateZ(0px);
	transform: translateX(0px) translateZ(0px);
}

.wing-opened {
	-webkit-animation: none;
	animation: none;
	-webkit-transform: translateX(-1504px) translateZ(0px);
	transform: translateX(-1504px) translateZ(0px);
}
*/