/* card4_1 */

.card {
    background-image: url(../../../img/interacoes/bg.png);
    background-color: white;
}

#txt_title_name {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 11%;
    left: 7%;
    width: 10%;
    font-size: 24px;
    color: #2063AC;
    font-family: londrina, Arial, Helvetica, sans-serif;
}

#title_txt {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 19%;
    left: 13%;
    width: 19%;
    height: 9%;
    background-image: url(../../../img/interacoes/4/title_bg.png);
    background-size: auto;
    z-index: 2;
}

#title_txt span {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 49%;
    left: 8%;
    width: 120%;
    font-size: 36px;
    color: #977FB8;
    font-family: londrina, Arial, Helvetica, sans-serif;
    text-align: right;
}

#txt1 {
    top: 32%;
    left: 14%;
    width: 19%;
    height: 19%;
}

#txt1 img {
    top: 50%;
    left: 50%;
    max-width: 100%;
}

#txt1 .box {
    top: 46%;
    left: 54%;
}

#txt1 span {
    top: 46%;
    left: 54%;
    width: 72%;
    text-align: left;
    font-size: 18px;
    color: #2063AC;
    font-family: cabin, Arial, Helvetica, sans-serif;
}

#txt2 {
    top: 78%;
    left: 12%;
    color: #1B5798;
    font-size: 48px;
    font-family: londrina, Arial, Helvetica, sans-serif;
    width: 18%;
}

#txt2 #sp1 {
    padding-right: 60%;
}

#txt2 * {
    position: relative;
    transform: none;
}

#txt2_box {
    top: 560px;
    left: 13%;
    max-width: 100%;
}

#txt2_like {
    top: 521px;
    left: 186px;
    max-width: 100%;
}

#txt2_like2 {
    top: 574px;
    left: 207px;
    max-width: 100%;
}

/* btns */
.seta_btn {
    width: 32px;
    height: 19px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

/* BTN1 */

#btn1 {
    top: 90%;
    left: 12%;
    width: 19.5%;
    height: 9%;
    background-image: url(../../../img/interacoes/bt1_bg.png);
    background-size: auto;
    z-index: 2;
    cursor: pointer;
}

#btn1 p {
    top: 50%;
    width: 70%;
    left: 44%;
    font-size: 24px;
    color: #977FB8;
    font-family: londrina, Arial, Helvetica, sans-serif;
}

#btn1 div {
    top: 50%;
    left: 86%;
    background-image: url(../../img/seta_roxa.png);
}

#btn1:hover {
    background-image: url(../../../img/interacoes/bt1_bg_roxo.png);
}

#btn1:hover p {
    color: #FFD62B;
}

#btn1:hover div {
    background-image: url(../../img/seta_amarela.png);
}

/* VIDEO */
video {
    transform: none !important;
    width: 950px;
    height: 533px;
    left: 395px;
    top: 20px;
}

/* BOTTOM BTNS */

.bottom_btn {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    z-index: 2;
}

.bottom_btn2 {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    z-index: 2;
}

.bottom_btn span {
    top: 50%;
    width: 70%;
    left: 52%;
    font-size: 24px;
    color: #FFD62B;
    font-family: londrina, Arial, Helvetica, sans-serif;
}

.bottom_btn2 span {
    top: 50%;
    width: 70%;
    left: 52%;
    font-size: 24px;
    color: #FFD62B;
    font-family: londrina, Arial, Helvetica, sans-serif;
}


/* BTN2 */

#bt_box_2 {
    top: 87.5%;
    left: 87.5%;
    width: 66px;
    height: 80px;
    background-image: url(../../../img/interacoes/bt_box.png);
}

#bt_box_2 img {
    top: 51%;
    left: 46.6%;
    /* max-width: 100%; */
}

#btn_bt_2 {
    top: 90%;
    left: 93.8%;
    width: 132px;
    height: 68px;
    background-image: url(../../../img/interacoes/btn_bt_bg.png);
    cursor: pointer;
}

#btn_bt_2 div {
    top: 50%;
    left: 74%;
    background-image: url(../../img/seta_amarela.png);
}

#bt_seta2 {
    max-width: 100%;
}

#btn_bt_2:hover {
    background-image: url(../../../img/interacoes/btn_bt_bg2.png);
}

#btn_bt_2:hover div {
    background-image: url(../../img/seta_roxa.png);
}

#btn_bt_2:hover span {
    color: #977FB8;
}

#btn_bt_2:hover~.bottom_btn2 img {
    animation: float_anim .7s infinite;
}

/* BTN1 */

#bt_box_1 {
    top: 87.5%;
    left: 70.5%;
    width: 66px;
    height: 80px;
    background-image: url(../../../img/interacoes/bt_box.png);
}

#bt_box_1 img {
    top: 48%;
    left: 48%;
    max-width: 100%;
}

#btn_bt_1 {
    top: 90%;
    left: 76.8%;
    width: 132px;
    height: 68px;
    background-image: url(../../../img/interacoes/btn_bt_bg.png);
    cursor: pointer;
}

#btn_bt_1 div {
    top: 50%;
    left: 74%;
    background-image: url(../../img/seta_amarela.png);
}

#btn_bt_1:hover {
    background-image: url(../../../img/interacoes/btn_bt_bg2.png);
}

#btn_bt_1:hover div {
    background-image: url(../../img/seta_roxa.png);
}

#btn_bt_1:hover span {
    color: #977FB8;
}

#btn_bt_1:hover~.bottom_btn img {
    animation: shake_anim .5s infinite;
}

@keyframes shake_anim {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    25% {
        transform: translate(-50%, -50%) rotate(-3deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    75% {
        transform: translate(-50%, -50%) rotate(3deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}


@keyframes float_anim {
    0% {
        transform: translate(-50%, -50%);
    }

    25% {
        transform: translate(-50%, -53%);
    }

    50% {
        transform: translate(-50%, -50%);
    }

    75% {
        transform: translate(-50%, -47%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

.blur-bgimage:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;

    filter: blur(10px);
    -moz-filter: blur(10px);
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);

    transition: all 2s linear;
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition: all 2s linear;
}